#message-input {
    padding: 12px;
    border: none;
    border-radius: 20px;
    width: 75%;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    }

#send-button {
   background-color: #4CAF50;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 20px;
   font-size: 16px;
   cursor: pointer;
   position: absolute;
   right: 0;
   bottom: 25px;
   margin-left: 10px;
   }
    
    #message-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    
    #send-button:hover {
    background-color: #3e8e41;
    }
    
    /* Responsive styles */
    @media (max-width: 600px) {
    #message-input {
    width: 100%;
    }
    #send-button {
    right: 0;
    bottom: 25px;
    padding: 5px 10px;
    }
    }
div {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }    